    <div class="main" ng-controller="mainController">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand animated tada fre" href="#!/home">Fresh menu</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                       <li><a href="#!/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                        <li><a href="#!/home"> <i class="fa fa-list" aria-hidden="true"></i> About</a></li>
                        <li><a href="#!/home"><i class="fa fa-phone" aria-hidden="true"></i> Order Online</a></li>
                        <li><a href="#!/fav"><i class="fa fa-cutlery" aria-hidden="true"></i>  Favourite Food</a></li>
                        <li><a href="#!/"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li> 
                    
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
            <div class="hero">
               <p>Fresh menu</p> 
                <span class="head">Find Best Restaurants In Your Town</span>
            </div>

      <div class="row">
          <div class="col-md-1">
              <div class="panel panel-default main-panel">
                  <div class="panel-body">
                     <h4 class="left-sec">Filter</h4>
                       <input type="checkbox"class="regular"> Book a Table <hr>
                        <input type="checkbox"class="regular"> Order food online <br>
                        <span class="regular green">Get 15% off (up to Rs. 100) on your first order with the code EATIN when you pay online.</span> <hr>
                            <h4 class="left-sec">Sort by</h4>
                            <span class="regular green">Popularity <span class="gray">- high to low</span></span>   <br>
                            <span class="regular">Ratings <span class="gray">- high to low</span></span> <br>
                            <span class="regular">Cost <span class="gray">- high to low</span></span> <br>
                            <span  class="regular">Cost <span class="gray">- low to high</span></span>      <br>  
                       
                            <span class="regular">Recently added</span> <br>
                            
                            <h4 class="left-sec">Category</h4>
                            <span class="regular">Delivery <span class="gray right">13986</span></span> <br>
                            <span class="regular">Dine-out <span class="gray right">9510</span></span> <br>
                            <span class="regular">Drinks & Nightlife <span class="gray right">613</span></span> <br>
                            <span class="regular">Cafés <span class="gray right">9145</span></span> <br>
                            
                            <h4 class="left-sec">Location</h4>
                            <span class="regular">South Delhi <span class="gray right">4105</span></span> <br>
                            <span class="regular"> Gurgaon <span class="gray right">3146</span></span> <br>
                            <span class="regular">West Delhi <span class="gray right">3033</span></span> <br>
                            <span class="regular">Ghaziabad <span class="gray right">2216</span></span> <br>
                            <span class="regular">Noida <span class="gray right">1878</span></span> <br>
                            <span class="regular">East Delhi <span class="gray right">1260</span> <br>
                            <span class="regular"><a href="#">See all locations</a></span><br>
                            
                            <h4 class="left-sec">Cuisine</h4>
                            <span class="regular">North Indian<span class="gray right">8387</span></span> <br>
                            <span  class="regular">Chinese<span class="gray right">5591</span></span> <br>
                            <span class="regular">Fast Food<span class="gray right">4447</span></span> <br>
                            <span class="regular">Mughlai<span class="gray right">2132</span></span> <br>
                            <span class="regular">Bakery<span class="gray right">1612</span></span> <br>
                            <span class="regular">South Indian<span class="gray right">1296</span></span> <br>
                            <span class="regular">Street Food<span class="gray right">1278</span></span> <br>
                            <span class="regular">Desserts<span class="gray right">1178</span></span> <br>
                            <span class="regular">Cafe<span class="gray right">1050</span></span> <br>
                            <span class="regular">Italian<span class="gray right">1232</span></span> <br>
                            <span class="regular"><a href="#">See all cuisines</a></span><br>
                      </span>  
                </div>
              </div>
          </div>

<!------------------------------------------------- mid col start----------------------------------------->
          <div class="col-md-7">
                   <div class="ui container">
        
            
<div class="search-bar">
        <form>
          <div class="input-wrapper">
          <input type="text" class="form-control" placeholder="Search..." ng-model="query">
        </div>
         <button type="submit" class="btn btn-default search">Search</button>
       </form>
</div>
 <div ng-repeat="restaurant in restaurants | filter: query" class="restaurant">
    <div class="rest-wrapper">
        <div class="image">
            <img ng-src="{{restaurant.image}}" height="100" width="100">
        </div>
        <div class="rest-info">
            <div class="rest-category">
               <small>{{restaurant.category}} </small>
            </div>
           <div class="rest-name">
               <a ng-href="#!/restaurant/{{restaurant.id}}"><strong>{{restaurant.name}}</strong></a>
           </div>
            <div>
               <strong> {{restaurant.location}}</strong>
            </div>
            <div class="rest-address">
                {{restaurant.address}}
            </div>
        </div>
    </div>
    <div class="rest-extra">
        <div class="type">
            <div><small>Cuisines:</small></div>
            <div><small>Cost for Two: </small></div>
            <div><small>Hours:</small></div>
        </div>
        <div class="value">
            <div>{{restaurant.cuisines}}</div>
            <div> &#8377; {{restaurant.cost| number}}</div>
            <div>{{restaurant.hours}}</div>
        </div>
    </div>
        <div class="rating">
            <strong>{{restaurant.vote}}</strong>
        </div>
    </div>
            
        </div>   
          </div>
<!------------------------------------------------- mid col end-------------------------------------------> 

<!------------------------------------------------- right col start--------------------------------------->      
          <div class="col-md-4"></div>
<!------------------------------------------------- right col end----------------------------------------->
      </div>  
 
<!-------------------------------------------------------- footer start ---------------------------------->
 <div class="footer">
     <ul class="foot">
<!--
                <li><a href="#!/home"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="#!/home"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#!/home"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#!/home"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                <li><a href="#!/home"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
-->
               <li><a href="#" class="fa fa-facebook"></a></li> 
               <li> <a href="#" class="fa fa-twitter"></a></li>
               <li>  <a href="#" class="fa fa-instagram"></a></li>
                <li><a href="#" class="fa fa-pinterest"></a></li>
            
  
            
    </ul>
     
 </div>    
        
        
        
        
<!-------------------------------------------------- footer end ----------------------------------------------->
        
    </div>
    